#search .bronze-r {
    text-shadow: 0px 0px 10px #e76c5f;
}

    #bronze .row_player_yourself {
        background: linear-gradient(to top, #000 25%, #47221E 100%);
        border-top: 1px solid #e76c5f;
    }

#search .silver-r  {
    text-shadow: 0px 0px 10px #d5d5d5;
}

    #search .silver-r.row_player_yourself {
        background: linear-gradient(to top, #000 25%, #6D6D6D 100%);
        border-top: 1px solid #d5d5d5;
    }

#search .gold-r {
    text-shadow: 0px 0px 10px #ffb800;
}

    #search .gold-r.row_player_yourself  {
        background: linear-gradient(to top, #000 25%, #A87900 100%);
        border-top: 1px solid #ffb800;
    }

#search .platinum-r {
    text-shadow: 0px 0px 10px #0f0;
}

    #search .platinum-r.row_player_yourself  {
        background: linear-gradient(to top, #000 25%, #009200 100%);
        border-top: 1px solid #0f0;
    }

#search .uber-r {
    text-shadow: 0px 0px 10px #f00;
}

    #search .uber-r.row_player_yourself  {
        background: linear-gradient(to top, #000 25%, #740000 100%);
        border-top: 1px solid #f00;
    }
    #search .row_player.bronze-r .rank {
        background: url('coui://ui/main/game/leaderboard/img/slot_bground_bronze.png') center center no-repeat;
    }

    #search .row_player.silver-r .rank {
        background: url('coui://ui/main/game/leaderboard/img/slot_bground_silver.png') center center no-repeat;
    }

    #search .row_player.gold-r .rank {
        background: url('coui://ui/main/game/leaderboard/img/slot_bground_gold.png') center center no-repeat;
    }

    #search .row_player.platinum-r .rank {
        background: url('coui://ui/main/game/leaderboard/img/slot_bground_platinum.png') center center no-repeat;
    }

    #search .row_player.uber-r .rank {
        background: url('coui://ui/main/game/leaderboard/img/slot_bground_uber.png') center center no-repeat;
    }
.search-box{
	margin:auto;
	width:200px;
	height:30px;
	font-size:28px;
}